.clear{clear: both}
#landing-logo { 
  margin-top: 100px;
  margin-left: 45%;
}
.home-categories{
  text-align: center;
}
.home-grid{
  text-align: center;
}
.home-grid a{
  margin: 0;
  padding: 0;
  font-weight: normal !important;
  color: #3388CC !important;
}
.home-grid a img{
  width: 80px;
  height: 80px;
}
.tablist-left {
    width: 25%;
    display: inline-block;
}
.tablist-content {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}
.intro{
  border: 1px solid;
  padding: 10px;
/*  text-align: center;*/
}
.header-logo{
  width: 100px;
  height: 100px;
}
.ui-header{
  text-align: center;
  background-color: #3388CC !important;
}
.ui-header{
  text-align: center;
  background-color: #3388CC !important;
}
.ui-navbar .ui-btn:hover, .ui-btn:hover{
  color: #fff !important;
  background-color: #3388CC !important;
}
.ui-footer .ui-navbar ul li a{
  background-color: #686868 !important;
  color: #fff !important;
}
h1, .ui-content .intro p span{
  color: #3388CC !important;
}
.ui-content{
  margin-bottom: 25px;
}
.ui-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
